<br />

<div class="booyah-box col-10 offset-1">
  <h1>Privacy Policy and 10 Tips for Protecting Personal Information</h1>

  <p>
  1. Think twice
  Whether it’s online or in person, you are constantly being asked for your personal data. Don’t just blindly give it up. Think about why the information is needed, who will use it and how. Remember, the Internet never forgets. Once information is out there, it’s very hard to get it back. You should also always think about the impact that your comments or images could have on your reputation or the reputation of others.
  </p>
  <p>
  2. Ask questions
  Get in the habit of reading the privacy policies of the websites and apps you use. Companies should be able to answer any questions you have about how your information will be used and protected. If they can’t, or you don’t like what you hear, it should raise red flags and maybe you should think twice before using their service.
  </p>
  <p>
  3. Speak up
  If you are worried about the way your personal information is being handled by an organization, tell them. Most organizations care about their customers’ concerns about privacy. In many cases, a concern you have about how your personal information has been handled by an organization can be quickly and effectively addressed if you raise it directly with them. Positive changes to the general policies or practices of an organization are more likely when people speak up.
  </p>
  <p>
  4. Just say no
  Think about subscribing to the National Do Not Call List to avoid telemarketers. Check off the “no thanks” box on forms that ask you provide personal information or leave a brief note stating your refusal to be contacted. You can also get your name removed from many mailing lists by subscribing to the Canadian Marketing Association’s Do Not Mail Service.
  </p>
  <p>
  5. Safeguard your SIN
  Your Social Insurance Number is important to privacy protection because it can open the door to your personal information and put you at risk of fraud and identity theft. Your SIN is confidential and should only be collected and used for income reporting purposes. Avoid sharing it with private-sector organizations or individuals such as landlords. Just because someone asks for your SIN doesn’t mean that you have to provide it.
  </p>
  <p>
  6. Protect your devices
  Take steps to protect your privacy online. Ensure your computer, smartphone and other mobile devices are password protected. Only download from reputable sources. Install and keep updated the latest anti-virus, anti-spam and firewall programs. Consider encrypting sensitive data. Disable Wi-Fi and Bluetooth if you’re not using it. Data is vulnerable when passing through public spaces with open wireless networks. Don’t leave mobile devices unattended.
  </p>
  <p>
  7. Protect your passwords
  One way you can help prevent identity theft is to ensure that your passwords are hard to guess. Make them eight or more characters. Use a combination of letters, numbers and symbols. Use different passwords for different websites, accounts and devices. If you need to write your passwords down to remember them, keep them in a secret, secure, locked place.
  </p>
  <p>
  8. Get to know privacy settings
  Mobile devices, browsers, sites, apps, and other web-enabled items such as video games and cameras often have adjustable privacy settings. For devices, this may include the ability to control everything from location tracking to screen locks. For browsers, users can often control things like cookies and pop-ups, while apps and websites such as social media sites generally allow users to control what personal information others can see about them. Never rely on default settings. Review and adjust your privacy settings regularly as they can change from time to time with little or no notice.
  </p>
  <p>
  9. Discard with discretion
  Make sure data stored on devices you no longer use is properly deleted before selling, recycling or throwing them away. When doing business with a particular company, be aware of how long they keep and how they dispose of your personal information. Ask questions if you are unsure.
  </p>
  <p>
  10. Know your rights
  Read up on the basics of Canada’s federal privacy laws. Learn about how the Federal Government handles your personal information. Find out about a business’ obligations with respect to your personal information. Learn how to raise a privacy concern with an organization that handles your information. Remember, you have the right to access and correct your personal information.
  </p>
  <p>
  Explore our site further to learn more about privacy issues, and how to protect your personal information. Provincial and territorial privacy oversight offices also offer privacy information.
  </p>
</div>